# Export the following names
useDynLib(SAIGEgds,
    saige_score_test_init,
    saige_simd_version,
    saige_store_geno,
    saige_fit_AI_PCG_binary,
    saige_calc_var_ratio_binary
)

# Export all names
exportPattern("^seq*")

# Import all packages listed as Imports or Depends
importFrom(gdsfmt, index.gdsn)
importFrom(SeqArray, seqOpen, seqClose, seqGetData, seqApply, seqSummary,
    seqResetFilter, seqSetFilter, seqSetFilterCond)
importFrom(RcppParallel, setThreadOptions, RcppParallelLibs)
