# Export the following names
useDynLib(SAIGEgds,
    saige_score_test_init,
    saige_simd_version,
    saige_store_geno,
    saige_get_coeff,
    saige_get_AI_score,
    saige_fitglmmaiRPCG
)

# Export all names
exportPattern("^seq*")
export(.onAttach)

# Import all packages listed as Imports or Depends
import(gdsfmt)

importFrom(methods, new)
importFrom(utils, count.fields, read.table, write.table, packageVersion)
